@import "../../../assets/variables";
@import "../../../assets/mixins";

.loading-spinner {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($black, 0.6);
    z-index: $loading-spinner-z-index;
    display: none;

    @include loadingIndicator($loading-spinner-width, 10px, 1s, $white);

    &--shown {
        display: block;
    }
}